*{
	padding: 0;
	margin: 0;
}

body{

}
#app{
	display: flex;
	flex-direction: column;
	border: 5px solid red;
	width: 400px;
	height: 500px;
}

#title{
	text-align: center;
	border: 5px solid #ff6c11;
	background-color: #ff6c11;
}

#title h1{

}

#title h2{

}

#entries{
	border: 5px solid green;
	width: 390px;
	height: 340px;
	overflow-y: auto;
}
.comment-card{

}

.first-line{
	display: flex;
	justify-content: space-between;
}

#captcha{
	display: flex;
	flex-direction: row;
	border: 5px solid white;
	width: 390px;
	height: 30px;
	text-align: center;
}

#math{	
	font-size: 12px;
	align-items: center;
	border: 5px solid red;
	width: 90px;
}

#math p{
	display: inline;
}

#solution{
	width: 245px;
	border: 5px solid blue;
}

#check{
	border: 5px solid green;
}

#new-comment{
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 5px solid blue;
	width: 390px;
	height: 70px;
}

#left-ui{
	display: flex;
	flex-direction: column;
	border: 5px solid yellow;
	height: 60px;
}

#color{
	width: 90px;
	height: 30px;
	border: 5px solid green;
}

#green{
	background-color: green;
}

#name{
	width: 80px;
	height: 20px;
	border: 5px solid red;
}

#comment{
	border: 5px solid red;
	width: 310px;
	height: 60px;
}

#submit{
	height: 70px;
}





